.element-liste {
    display: flex;
    flex-direction: row;
    align-items: center; /* Poravnava stavke po sredini vertikalno */
}

.element-liste span {
    margin-right: auto; /* Stavlja span na poÄetak reda */
}

.edit-dugme{
    margin-right: 1%;
}