.element-liste {
    display: flex;
    flex-direction: row;
    align-items: center; /* Poravnava stavke po sredini vertikalno */
}

.element-liste span {
    margin-right: auto; /* Stavlja span na početak reda */
}

.edit-dugme{
    margin-right: 1%;
}

.category-icon{
    height: 3%;
    width: 3%;
    margin-right: 1%;
}